@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400&display=swap');
body {
    margin: auto;
    font-family: 'Geologica', sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    background-size: 400% 400%;
    background-attachment: fixed;
}


.wrapper {
    margin:0 auto;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.increment-btn {
    padding: 10px;
    font-size: 26px;
    border-radius: 10px;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    width: 300px;
}

.reset {
    margin-left: 10px;
}

.save {
    margin-top: 10px;
}

#output-save {
    font-size: 40px;
}

h1 {
    font-weight: 400;
    color: darkred;
}

#count{
    color: yellowgreen;
    font-weight: 300;
}



